{% extends "layout.html" %}

{%block title%}{{ title }}{%endblock%}

{%block content%}
    <h1 id="main_title">Application Process</h1>
        <a class="menu_items" href="{{ url_for("display_mentors_and_schools") }}">Mentors and schools</a>
        <a class="menu_items" href="{{ url_for("display_mentors_and_all_schools") }}">All schools</a>
        <a class="menu_items" href="{{ url_for("display_mentors_by_country") }}">Mentors by country</a>
        <a class="menu_items" href="{{ url_for("display_school_and_contact_person") }}">Contacts</a>
        <a class="menu_items" href="{{ url_for("display_applicants") }}">Applicants</a>
        <a class="menu_items" href="{{ url_for("display_applicants_and_mentors") }}">Applicants and mentors</a>
{%endblock%}